
/* -----------------------
------------------------- */
body {
    font-family: Lato,Arial,sans-serif;
    font-size: 14px;
}

/* ============== Theme CSS  =============== */
.Portfolio-wrap {
  position: relative;
  width: 100%;
}

.portfolio-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(88, 113, 109, 0.6);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.Portfolio-wrap:hover .portfolio-info {
  height: 100%;
}

.portfolio-info h4 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}